<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Language Learning Platform{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/output.css') }}?v=2">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-background text-foreground">
    {% block content %}{% endblock %}
    
    <script>
        lucide.createIcons();
    </script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
